* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace, sans-serif;
  font-size: 18px;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-light);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
